body
{
background-color: #283149;
text-align: center;
}

h1
{
    color: brown;
    font-family: cursive;
    padding: 20px;
    text-align: center;
   margin-top: 100px;
   text-shadow: 3px 0 #DBEDF3;
   font-size: 40px;

}

.big
{
    margin: 10% auto;
    margin-left: 30px;
    margin-top: 100px;
}

footer
 {
    color: #DBEDF3;
    font-family: sans-serif;
  }

.w{
    background-image: url(images/tom4.png);

  }
  
  .a {
    background-image: url(images/tom3.png);
  }
  
  .s {
    background-image: url(images/tom2.png);
  }
  
  .d {
    background-image: url(images/tom1.png);
  }
  
  .j {
    background-image: url(images/snare.png);
  }
  
  .k {
    background-image: url(images/kick.png);
  }
  
  .l {
    background-image: url(images/crash.png);
  }

  .drum
  {
      width: 150px;
      height: 160px;
      font-size: 4rem;
      font-family: 'Arvo', cursive;
      color: #DA0463;
      display:inline-block;
      padding: 20px;
      margin: 1.75% ;
      text-align: center;
      border-radius: 10px;
      border-style: double;
      text-shadow: 3px 0 #DBEDF3;
      border: 10px solid #df6969
  }